.loading-background {
  background-image: url(/img/loading.webp);
  background-repeat: no-repeat;
  animation: background-loop 3s linear infinite;
}
@keyframes background-loop {
  0% {
    background-size: 50%;
  }
  100% {
    background-size: 120%;
  }
}
