.loading-screen b {
  animation: move 3.2s linear infinite;
}
.loading-screen b:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-screen b:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-screen b:nth-child(4) {
  animation-delay: 0.3s;
}
.loading-screen b:nth-child(5) {
  animation-delay: 0.4s;
}
.loading-screen b:nth-child(6) {
  animation-delay: 0.5s;
}
.loading-screen b:nth-child(7) {
  animation-delay: 0.6s;
}
.loading-screen b:nth-child(8) {
  animation-delay: 0.7s;
}
.loading-screen b:nth-child(9) {
  animation-delay: 0.8s;
}
.loading-screen b:nth-child(10) {
  animation-delay: 0.9s;
}
.loading-screen b:nth-child(11) {
  animation-delay: 1s;
}
.loading-screen b:nth-child(12) {
  animation-delay: 1.1s;
}
@keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    transform: rotate(0);
    opacity: 1;
  }
  65% {
    right: 59%;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    right: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}